.branding
{
 font-size: 20px;
}
.w3-bar
{
}
.showcase
{
  background:url(../img/showcase.jpg);
  background-position: center;
  background-size: cover;
  padding: 140px 100px;
  width: 100%;
  height: 600px;
  color: white;
}
.showcase h1
{
  font-size: 40px;
  font-weight: 700px;
  text-transform: uppercase;
}
.showcase hr
{
	width: 200px;
	margin: auto;
	border-width: 3px;
  	border-color: blue;
}
.showcase p
{
	font-size: 16px;
	padding-bottom: 20px;
}
.section
{
	padding: 40px;
}
.section .fa
{
	font-size: 50px;
}
.large
{
	font-size: 50px;
}
.section h2
{
	margin: 0;
	padding: 0;
}
.section img
{
	width: 100%;
}
.ilarge
{	
	border-radius: 10px;
	padding: 4px 4px;
	font-size: 60px;
}
.section-contact
{
	padding: 40px;
}
.section-contact input
{
	border: none;
	border-bottom: 1px solid grey;
	outline: none;
	padding: 8px 0;
}
.section-contact input:focus ~ label,
.section-contact input:valid ~ label
{
	
}
textarea
{
	border: 1px solid grey;
}
@media only screen and (max-width: 600px)
{
	body
	{
		margin-top: 190px;
	}
	.showcase
	{
		height: 400px;
		padding: 40px 0;
	}
}